.footer{
  background-color: black;
  color: white;
}
.footer__creators{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}
.footer__creators{
 text-decoration: none;
 color: white;
}
.footer__creators{
  padding: 10px 20px;
  margin: 0;
}