.header{
  background-color: black;
  color: white;
}
.menu__item{
  display: inline-block;
  align-items: center;
  padding: 10px;
  Margin: 5px;
  background-color: white;
  color: gray;
  text-decoration: none;
}
.header__logo-wrap{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}
.header__logo-wrap{
 text-decoration: none;
 color: white;
}
.header__title{
 margin: 0;
}

.header__menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu .menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
}
.header__menu .menu__item{
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.menu__button-menu {
 transition: background-color 0.3s,
 color 0.3s;
}
.menu__button-menu:hover {
 background-color: gray;
 color: #ffffff;
}
.menu__button-menu:active {
 background-color: darkslategray;
 color: #ffffff;
}
.menu__button-enter {
 transition: background-color 0.3s,
 color 0.3s;
}
.menu__button-enter:hover {
 background-color: gray;
 color: #ffffff;
}
.menu__button-enter:active {
 background-color: darkslategray;
 color: #ffffff;
}