.header{
  background-color: black;
  color: white;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item{
  display: inline-block;
  align-items: center;
  padding: 10px;
  Margin: 5px;
  background-color: white;
  color: gray;
  text-decoration: none;
}
.header__logo-wrap{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}
.header__logo-wrap{
 text-decoration: none;
 color: white;
}
.header__title{
 margin: 0;
}

.header__menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu .menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
}
.header__menu .menu__item{
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.menu__button-registr {
 transition: background-color 0.3s,
 color 0.3s;
}
.menu__button-registr:hover {
 background-color: gray;
 color: #ffffff;
}
.menu__button-registr:active {
 background-color: darkslategray;
 color: #ffffff;
}
.menu__button-enter {
 transition: background-color 0.3s,
 color 0.3s;
}
.menu__button-enter:hover {
 background-color: gray;
 color: #ffffff;
}
.menu__button-enter:active {
 background-color: darkslategray;
 color: #ffffff;
}
.menu__phone-number {
 transition: outline 0.3s;
}
.menu__phone-number:focus {
 outline: 1px solid white;
}
.menu__password {
 transition: outline 0.3s;
}
.menu__password:focus {
 outline: 1px solid white;
}

.header__buttons {
  display: flex;
  flex-direction: column;
}

.registrations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 60, 65, 0.7); ;
}

.registration {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 800px;
  width: 100%;

  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 64px;
  background-color: red;
  color: white;
}
.registration__title {
  font-size:36px;
}
.registration__text {
  margin-top: 20px;
  font-size: 20px;
}
.registration__form {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap:10px;
}
.registration__close {
    position: absolute;
    top: 0; 
    right: 0; 
    padding: 5px; 
    background-color: #000000; 
    color:white;
}
.menu__link:hover{
  color: white;
}
.menu__link{
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  color: gray;
}